body {
    padding-top: 100px;

    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#map {
    height: 70vh;
    width: 100%;
}

.noborder {
    border: none;
    padding: none;
}

.layout-horizontal .header-top {
    background-color: #fff;
    padding: 0.7rem .4rem;
}