body {
    padding-top: 100px;

    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#map {
    height: 70vh;
    width: 100%;
}

.noborder {
    border: none;
    padding: none;
}

.layout-horizontal .header-top {
    background-color: #fff;
    padding: 0.7rem .4rem;
}

.btn-lighter {
    color: #333;
    background-color: #fff;
    border-color: none;
}

.btn-lighter:hover {
    color: #333;
    background-color: #eaeaea;
    border-color: none;
}

.btn-lighter:focus,
.btn-lighter:active,
.btn-lighter.active,
.btn-lighter.show {
    color: #333;
    background-color: #eaeaea;
    border-color: none;
    box-shadow: 0 0 0 0.2rem rgba(251, 251, 251, 0.5);
}